*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
}
form input{
    margin: 2px;
    padding: 6px;
}