*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    text-align: center;
    background: #fff;
}
.header{
    padding-top: 100px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
/* .teams:hover{
    background: #ddd;
}*/
.teams img{
    width: 200px;
    height: 200px;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.design{
    font-style: normal;
    color: #2b2424;
}
.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}
.social-links a{
    display: inline-block;
    color: black;
    height: 30px;
    width: 30px;
    transition: .4s;
}
.social-links{
    color: #444;
}
